* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
body {
    background: url(./assets/bg.avif);
    background-size: cover;
}
.title {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
}
.input {
    display: flex;
    /* border: 1px solid #444; */
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.input input {
    width: 100px;
    height: 70px;
    font-size: 2rem;
    text-align: center;
    margin: 0 20px;
    border: none;
    border-radius: 10px;
    outline: none;
}
label {
    margin-left: 38px;
    font-size: 1.2rem;
    margin-top: 20px;
}